#quote {
    padding : 0px;
    text-align: center;  
    font-style: italic;
}
#quote-design {
        border-color: white;
        border-style: solid;
        margin:10px;
        padding:0px;
}
#container {
    
    background-color:whitesmoke;
    margin-left: 0px;
    height : 95%;
    padding:20px;
    padding-top: 0.5%;
    width:60%;
    margin : 0px auto;
    
}
body {
    background-color:gainsboro;
}
#author {
    font-style: normal;
    font-size: 85%;
}